@media (max-width: 860px) {
    .main-nav {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        min-width: 200px;
        background-color: rgb(255 255 255 / 90%);
        border-inline-start: 1px solid black;
        transform: translateX(100%);
        transition: transform .5s, box-shadow .5s;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -8px 0px 20px 0px black;
    }

    .main-nav>ul {
        flex-direction: column;
        gap: 0
    }

    .main-nav>ul>li {
        border-bottom: 1px solid #ccc;
    }

    .main-nav>ul a {
        display: grid;
        place-items: center;
        padding: 30px;
        transition: background-color 0.5s;
    }

    .main-nav>ul a:hover {
        background-color: #ececec;
        text-decoration: none;
    }

    .main-screen {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, .6);
        cursor: pointer;
        pointer-events: none;
        transition: opacity .5s;
    }
}

@media (min-width: 600px) {
    .main-layout {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 600px) minmax(1rem, 1fr);
    }

    .gallery {
        gap: 10px;
    }
}

@media (min-width: 860px) {
    .main-layout {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 860px) minmax(1rem, 1fr);
    }

    .gallery {
        gap: 10px;
    }

    .btn-menu {
        display: none;
    }
}

@media (min-width: 1060px) {
    .main-layout {
        grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1060px) minmax(1rem, 1fr);
    }

    .gallery {
        gap: 10px;
    }
}