.saved-memes {
    flex-wrap: wrap;
    gap: 20px;
    font-size: 2rem;
    color: var(--clr-primary--1);
}

.saved-memes p {
margin: 0 auto;
}

.saved-meme {
    position: relative;
}

.saved-meme>button {
    position: absolute;
    top: 5px;
    right: 5px;

    border-radius: 20px;
    font-size: 1.1rem;
}