* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-primary-base);
}

body {
    margin: 0;
    background-color: #eee;
}

img {
    width: 100%;
}

a {
    color: var(--clr-primary--1);
}

.main-screen {
    opacity: 0;
    pointer-events: none;
 }

body.menu-open .main-screen {
    opacity: 1;
    pointer-events: auto;
}