.main-layout {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 1060px) minmax(1rem, 1fr);
}

.main-layout>* {
    grid-column: 2;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.gallery img {
    cursor: pointer;
}

.editor-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

