.main-layout {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-auto-rows: auto 1fr auto;
    align-items: center;
    min-height: 100vh;
}

.main-layout>*:not(.main-screen) {
    grid-column: 2;
}

.editor-container {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}